/* CreateSignaturePackage.css */

.csp-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 20px;
  box-sizing: border-box;
}

.csp-header, .csp-body, .csp-footer {
  width: 100%;
  max-width: 1400px; /* Increase max-width */
  background-color: #fff;
  box-sizing: border-box;
  position: relative;
}

.csp-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Add this line */
}

.csp-body {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.csp-documents-list {
  width: 33%;
  border-right: 1px solid #ddd;
  overflow-y: auto;
  padding-bottom: 1rem;
}

.csp-pdf-viewer {
  width: 66%;
  overflow-y: hidden;
}

.csp-footer {
  display: flex;
  justify-content: flex-end;
  padding: 15px 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.csp-close-button {
  position: absolute;
  top: 1.2rem; /* Adjust as necessary */
  right: 2rem; /* Adjust as necessary */
  background: #ffffff;
  border: 2px solid #d5d5d5;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  cursor: pointer;
  color: #000000;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
}

.csp-close-button:hover {
  color: #ffffff;
  background-color: #b12525;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.csp-close-button:before {
  content: '×';
  font-weight: bold;
  display: inline-block;
  margin-top: -0.15rem;
  line-height: 1;
}

.csp-create-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.csp-create-button:hover {
  background-color: #0056b3;
}

.csp-spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.csp-spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
