/* src/components/LandingPage/components/Hero/Hero.css */
.hero {
    position: relative;
    height: 65vh; /* Adjusted for a more proportionate height */
    background: url('../../images/hero.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    color: #fff;
  }
  
  .hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); /* Slightly darker overlay for improved text contrast */
    z-index: 0;
  }
  
  .hero-content {
    position: relative;
    z-index: 1;
    width: 40%; /* Limit width to improve readability */
    padding-left: 10%;
  }
  
  .hero-title {
    font-size: 4rem; /* Larger font size for impact */
    margin-bottom: 0.5rem;
    margin-top: 0rem;
    line-height: 1.1;
    font-weight: 700; /* Bold font weight for the title */
  }
  
  .hero-subtitle {
    font-size: 1.5rem;
    margin-bottom: 3rem;
    font-weight: 300; /* Lighter font weight for subtitle */
  }
  
  .hero-cta {
    padding: 1rem 1.5rem;
    background-color: rgb(27, 92, 243);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 19px;
    font-weight: 600;
    box-shadow: 0px 8px 15px rgba(0,0,0,0.1);
    transition: all 0.3s ease; /* Add a transition */
    text-decoration: none;
  }
  
  .hero-cta:hover,
  .hero-cta:focus { /* Focus added for accessibility */
    background-color: rgb(0, 83, 172); /* Change the hover color to a darker shade */
    box-shadow: 0px 8px 25px rgba(0,0,0,0.2);
    transform: translateY(-2px);
  }
  
  @media (max-width: 768px) {
    .hero {
      padding-left: 5%; /* Reduced padding on smaller screens */
      height: 100vh; /* Flexibility for content */
      padding-top: 20vh; /* Space from the top */
      padding-bottom: 20vh; /* Space from the bottom */
    }
    .hero-content {
      width: 80%; /* More width for smaller screens */
      padding-left: 5%;
    }
    .hero-title {
      font-size: 2.5rem; /* Smaller font size for mobile */
    }
    .hero-subtitle {
      font-size: 1.2rem;
    }
    .hero-cta {
      padding: 0.7rem 1.0rem; /* Slightly smaller button on mobile */
    }
  }
  