/* Features.css */

.features-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0; /* Remove left padding */
  padding-right: 0; /* Remove right padding */
  background-color: #ffffff; /* For a clean, modern look */
}

.features-title {
  font-size: 2rem; /* Larger for emphasis */
  font-weight: 500; /* Semi-bold for a stronger presence */
  margin-bottom: 2rem; /* More space below the title */
  color: #333; /* Deep color for contrast */
}

.features-toggle {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem; /* Increase spacing for aesthetic separation */
}

.toggle-btn {
  font-size: 1rem;
  padding: 10px 10px;
  border: 2px solid #eaeaea;
  background-color: transparent;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 600; /* Make the text bolder */
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1); /* Add a subtle shadow */
}

.toggle-btn-left {
  /* ... */
  border-radius: 10px;
}

.toggle-btn-right {
  /* ... */
  border-radius: 10px;
}

.toggle-btn.active {
  background-color: rgb(27, 92, 243);
  color: white;
  border-color: rgb(27, 92, 243);
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2); /* Add a shadow to the active/hover state */
}

.toggle-btn:hover {
  background-color: rgb(27, 92, 243);
  color: white;
  border-color: rgb(27, 92, 243);
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2); /* Add a shadow to the active/hover state */
}

.feature-content {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 15px auto;
  gap: 1rem;
}

.feature-image {
  width: 50%;
  display: flex; /* Ensures image container flexes */
  justify-content: center; /* Centers image in the div */
}

.feature-section-image {
  width: 90%; /* Image takes full width of its container */
  border-radius: 8px;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.1); /* Adds shadow for depth */
}

.feature-details {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers content horizontally */
  margin-right: 20px;
  margin-bottom: 1rem;

}

.feature-point {
  font-size: 1.1rem;
  color: #454545; /* Lighter color for a modern look */
  line-height: 1.5; /* Increased line height for readability */
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
}

.feature-point-icon {
  width: 28px;
  height: 28px;
  margin-right: 18px;
}

.sign-up-btn {
  padding: 1rem 2rem;
  background-color: rgb(27, 92, 243);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0px 8px 15px rgba(0,0,0,0.1);
  transition: all 0.3s ease; /* Add a transition */
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.sign-up-btn:hover {
  background-color: #004a8f; /* Change the hover color to a darker shade */
  box-shadow: 0px 8px 25px rgba(0,0,0,0.2);
  transform: translateY(-2px);
}
/* Responsive adjustments */
@media (max-width: 1024px) {
  .features-section {
    padding-left: 0.7rem; /* Add some left padding for smaller screens */
    padding-right: 0rem; /* Add some right padding for smaller screens */
  }

  .feature-content {
    flex-direction: column;
  }

  .features-title {
    font-size: 1.7rem;
    margin-bottom: 1.2rem;
  }

  .feature-image, .feature-details {
    width: 100%; /* Full width for smaller screens */
  }

  .features-toggle {
    margin-top: 1.2rem;
    margin-bottom: 1rem; /* Increase spacing for aesthetic separation */
  }

  .toggle-btn {
    font-size: 0.9rem;
  }

  .feature-details {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    align-items: center; /* Centers content vertically */
  }

  .feature-image {
    margin-bottom: 1rem; /* Spacing after the image */
  }

  .feature-section-image{
    width: 55%;
  }

  .feature-point-icon {
    width: 22px;
    height: 22px;
  }
}

@media (max-width: 768px) {
  .features-section {
    padding-left: 0.5rem; /* Add some left padding for even smaller screens */
    padding-right: 0.5rem; /* Add some right padding for even smaller screens */
  }

  .features-title {
    font-size: 1.5rem; /* Adjust font size for mobile readability */
    margin-bottom: 1rem; /* Adjust margin for mobile */
  }

  .toggle-btn {
    font-size: 0.8rem; /* Adjust font size for mobile */
    padding: 8px 12px; /* Adjust padding for mobile */
  }

  .feature-content {
    flex-direction: column; /* Stack the image and details vertically */
  }

  .feature-image, .feature-details {
    width: 100%; /* Full width for smaller screens */
  }

  .feature-section-image {
    width: 60%; /* Adjust image width for mobile */
  }

  .feature-details {
    margin-top: 0.5rem; /* Add some space above the details */
    margin-left: auto;
    margin-right: auto;
    align-items: center; /* Centers content vertically */
  }

  .feature-point {
    font-size: 1rem; /* Adjust font size for mobile readability */
  }

  .feature-point-icon {
    width: 20px; /* Adjust icon size for mobile */
    height: 20px; /* Adjust icon size for mobile */
  }

  .sign-up-btn {
    padding: 0.8rem 1.6rem; /* Adjust button size for mobile */
    font-size: 0.9rem; /* Adjust font size for mobile */
  }
}
