/* Stats.css */
.stats-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 10px 50px 0px;
    background-color: #f5f5f5; /* or any color you prefer */
    border-radius: 30px;
  }
  
  .stat {
    text-align: center;
  }

  .stat-icon {
    height: 36px; /* or your preferred size */
    width: auto; /* maintain aspect ratio */
    margin-bottom: 1rem; /* space between icon and number */
    display: block; /* to center the icon in its container */
    margin-left: auto;
    margin-right: auto;
  }
  
  .stat span {
    font-size: 3rem;
    font-weight: bold;
    display: block;
    color: rgb(27, 92, 243);; /* or your brand color */
  }
  
  .stat p {
    margin-top: 10px;
    font-size: 1.25rem;
    color: #333;
  }

  @media (max-width: 1024px) {
    .stats-container {
      flex-wrap: wrap; /* Allow the stats to wrap onto multiple lines */
      justify-content: space-between; /* Add some space between the stats */
    }
  
    .stat {
      flex: 0 0 45%; /* Make the stats take up 45% of the container's width */
      margin-bottom: 2rem; /* Add some space below each stat */
    }
  
    .stat span {
      font-size: 2.5rem; /* Reduce the font size */
    }
  
    .stat p {
      font-size: 1rem; /* Reduce the font size */
    }
  }
  
  @media (max-width: 768px) {
    .stat {
      flex: 0 0 100%; /* Make the stats take up 100% of the container's width */
    }
  
    .stat span {
      font-size: 2rem; /* Reduce the font size even more */
    }
  
    .stat p {
      font-size: 0.875rem; /* Reduce the font size even more */
    }
  }