/* Documents.css */

.documents-tab {
  padding: 1rem;
  background-color: #f1f1f1;
  border-radius: 10px;
}

.documents-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.notify-button, .signature-button, .docusign-button, .add-documents-button, .delete-button, .download-doc-button {
  background-color: #ffffff;
  color: #262626;
  border: 1px solid #898888;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.add-documents-button {
  padding: 10px 25px; /* Match the padding of the other buttons */
}

.add-documents-button:hover, .notify-button:hover, .signature-button:hover, .docusign-button:hover, .delete-button:hover, .download-doc-button:hover {
  transform: scale(1.05);
  background-color: #ececec;
}

.action-buttons {
  display: flex;
  gap: 1rem;
}

.documents-list {
  margin-top: 1rem;
}

.no-documents-message {
  margin-top: 2rem;
  margin-left: 1rem;
  color: #666;
  font-size: 16px;
}

.document-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
  padding-top: 1.2rem;
  padding-bottom: 0.6rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  cursor: pointer;
}

.document-item:hover {
  background-color: #dceeff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.document-checkbox {
  position: absolute;
  left: 35px; /* Increase padding to the left */
  width: 22px;
  height: 22px;
  cursor: pointer;
  margin-bottom: 10px;
}

.document-info {
  display: flex;
  align-items: center;
  margin-left: 5rem;
}

.document-details {
  display: flex;
  flex-direction: column;
}

.document-title {
  font-weight: bold;
  margin: 0;
  color: #333;
  margin-bottom: 0.7rem; /* Add space below the title */
}

.document-type {
  font-style: italic;
  margin: 0;
  color: #666;
}

.document-meta {
  color: #888;
  font-size: 0.9em;
}

.document-actions {
  display: flex;
  gap: 0.6rem;
  opacity: 0;
  transition: opacity 0.3s ease;
  margin-top: -10px;
  padding-right: 1rem;
}

.document-item:hover .document-actions {
  opacity: 1;
}

.document-actions button {
  background-color: #ffffff;
  color: #262626;
  border: 1px solid #898888;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.document-actions button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  scale: 1.05;
}

.selected {
  background-color: #dceeff;
}
