.profile-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Use 100% of the viewport height */
    background-color: #f4f4f4; /* Light background for the dashboard */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  .profile-photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 2rem;
  }
  
  .profile-info {
    flex: 1;
  }
  
  .profile-info h1 {
    margin: 0;
    font-size: 2rem;
    color: #333;
  }
  
  .profile-info .profile-role {
    font-size: 1rem;
    color: #777;
  }
  
  .profile-details {
    margin-top: 2rem;
  }
  
  .profile-section {
    margin-bottom: 2rem;
  }
  
  .profile-section h2 {
    font-size: 1.5rem;
    color: #444;
    margin-bottom: 0.5rem;
  }
  
  .profile-section p {
    font-size: 1rem;
    color: #555;
    margin: 0.5rem 0;
  }
  
  .profile-section a {
    color: #1b5cf3;
    text-decoration: none;
  }
  
  .profile-section a:hover {
    text-decoration: underline;
  }
  
  /* Spinner Styles */
  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 50px auto;
    display: block;
  }

  
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  