/* Profile.css */

body {
  background-color: #f4f4f4;
}

.profile-background {
  padding-top: 2.5rem; /* Increased spacing above the profile container */
  padding-bottom: 2.5rem; /* Increased spacing below the profile container */
}

.profile-container {
  max-width: 65%; /* Adjusted max width to a percentage */
  margin: 0 auto;
  padding: 1rem 4rem; /* Added more padding on the left and right */
  background-color: #fff;
  border-radius: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.profile-content {
  display: flex;
  justify-content: space-between;
  gap: 3rem; /* Added more gap for more spacing */
}

.profile-section {
  width: 45%; /* Adjust width to make them side by side */
}

.profile-section h3 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.profile-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 1.5rem;
  position: relative; /* Position for input-spinner */
}

.form-group label {
  display: block;
  margin-bottom: 0.75rem; /* Added more spacing beneath labels */
  font-weight: bold;
}

input[type="text"],
input[type="email"],
.upload-input,
.form-control {
  width: calc(100% - 1rem); /* Reduced width */
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem; /* Set the font size for form controls */
}

.upload-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.upload-button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.upload-button:hover {
  background-color: #0056b3;
}

.profile-photo,
.agency-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.profile-checkbox-label {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  font-weight: normal; /* Make text not bold */
  font-size: 0.9rem; /* Make text smaller */
  gap: 0.5rem; /* Add gap between checkbox and text */
}

.profile-checkbox-label input[type="checkbox"] {
  margin-right: 1rem; /* Remove default margin */
  width: 1rem;
  height: 1rem;
}

.input-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.email-group {
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 4px;
}

.email-display {
  flex-grow: 1;
  font-size: 1rem;
  color: #666;
}

.edit-button {
  margin-left: 0.5rem;
  padding: 0.4rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8rem;
}

.edit-button:hover {
  background-color: #0056b3;
}

.role-display {
  padding: 0.5rem;
}

.pro-status {
  padding: 0.5rem;
  border-radius: 5px;
  text-align: center;
}

.pro-status.enabled {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.pro-status.disabled {
  background-color: #e2e3e5;
  color: #6c757d;
  border: 1px solid #d6d8db;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
