/* LandingPage.css */
.landing-page {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Define consistent spacing for all main sections */
.landing-main > section {
  padding: 4rem 5%; /* Provides padding top and bottom with a responsive horizontal padding */
}

/* Background colors for alternate sections to visually separate them */
.hero,
.stats,
.cta {
  color: #fff; /* White text for darker backgrounds */
}

.features,
.how-it-works {
  background-color: #f7f7f7; /* Light gray background for a subtle contrast */
}

.stats {
  background-color: #e7e7e7; /* A slightly darker gray to distinguish from features */
}

.cta {
  background-color: rgb(27, 92, 243); /* Your brand's primary color for the call to action */
}

.landing-footer {
  background-color: rgb(255, 255, 255); /* Dark background for the footer */
  padding: 1.5rem 8%; /* Consistent vertical padding with responsive horizontal padding */
  text-align: center;
}

/* Responsive design for better mobile viewing */
@media (max-width: 768px) {
  .landing-main > section {
    padding: 1rem 5% 5%; /* Smaller padding on mobile */
  }

  /* Adjust the hero section's height on mobile for better proportion */
  .hero {
    height: auto; /* Height auto for flexibility */
    padding: 2rem 5%; /* Consistent padding with other sections */
  }
}
