.dls-documents-list {
  width: 100%;
  overflow-y: auto;
}

.dls-documents-list h3 {
  margin: 0;
  padding-top: 2rem;
  padding-left: 3rem; /* Ensure padding aligns with list */
  padding-bottom: 1rem;
}

.dls-document-item {
  padding: 10px;
  padding-left: 10px; /* Align padding with header */
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  color: black;
}

.dls-document-item:hover {
  background-color: #f1f1f1;
}

.dls-document-item.selected {
  background-color: #007bff; /* Highlight color */
  color: white; /* Text color for highlighted item */
}
